In [3]:
import pandas as pd

df = pd.read_csv('datasets/population_by_age_group.csv')
countries = df.Country

1. Using a string column, lowercase the values.

In [4]:
res = countries.str.lower()
print(res)

0            afghanistan
1                albania
2                algeria
3         american samoa
4                andorra
             ...
230    wallis and futuna
231       western sahara
232                yemen
233               zambia
234             zimbabwe
Name: Country, Length: 235, dtype: object

2. Using a string column, slice out the first character.

In [12]:
res = countries.str.slice(1)
res1 = countries.str.slice(0, 1)

print(res)
print(res1)

0            fghanistan
1                lbania
2                lgeria
3         merican Samoa
4                ndorra
             ...
230    allis and Futuna
231       estern Sahara
232                emen
233               ambia
234             imbabwe
Name: Country, Length: 235, dtype: object
0      A
1      A
2      A
3      A
4      A
      ..
230    W
231    W
232    Y
233    Z
234    Z
Name: Country, Length: 235, dtype: object

3. Using a string column, slice out the last three characters.

In [13]:
res = countries.str.slice(0, -3, 1)
res1 = countries.str.slice(-3)
print(res)
print(res1)

0            Afghanis
1                Alba
2                Alge
3         American Sa
4                Ando
            ...
230    Wallis and Fut
231       Western Sah
232                Ye
233               Zam
234             Zimba
Name: Country, Length: 235, dtype: object
0      tan
1      nia
2      ria
3      moa
4      rra
      ...
230    una
231    ara
232    men
233    bia
234    bwe
Name: Country, Length: 235, dtype: object

4. Using a string column, create a series extracting the numeric values.

In [34]:
data = pd.Series(['string1', 'string2', 'string3', 'string4', 'string'])
res = data.str.extract(r'([1234567890])')
print(res)

     0
0    1
1    2
2    3
3    4
4  NaN

5. Using a string column, create a series extracting the non-ASCII values.

In [35]:
data = pd.Series(['string1', '한string', 'string3', 'string4', 'string'])
res = data.str.extract(r'([^\x00-\x7F])')
print(data)
print(res)

0    string1
1    한string
2    string3
3    string4
4     string
dtype: object
     0
0  NaN
1    한
2  NaN
3  NaN
4  NaN

6. Using a string column, create a dataframe with the dummy columns for every character in
the column.

In [42]:
data = pd.Series(['print', 'pandas', 'get', 'dummies', 'string'])
res = data.str.get_dummies('')
print(res)

   a  d  e  g  i  m  n  p  r  s  t  u
0  0  0  0  0  1  0  1  1  1  0  1  0
1  1  1  0  0  0  0  1  1  0  1  0  0
2  0  0  1  1  0  0  0  0  0  0  1  0
3  0  1  1  0  1  1  0  0  0  1  0  1
4  0  0  0  1  1  0  1  0  1  1  1  0