In [4]:
import pandas as pd

1. Create a dataframe with the names of your colleagues, their age (or an estimate), and their
title.

In [13]:
data = {
    'name': ['name', 'name', 'name'],
    'age': [18, 19, 18],
    'title': ['student', 'student', 'intern']
}

df = pd.DataFrame(data)
print(df)

   name  age    title
0  name   18  student
1  name   19  student
2  name   18   intern

2. Capitalize the values in the name column.

In [15]:
df['name'] = df['name'].str.capitalize()
print(df)

   name  age    title
0  Name   18  student
1  Name   19  student
2  Name   18   intern

3. Sum up the values of the age column

In [17]:
age_sum = df['age'].sum()
print(age_sum)

55