In [2]:
import pandas as pd

1. Create a dataframe for employees. Create a dataframe for location.

In [5]:
df = pd.DataFrame({
    'name': ['Fred', 'John', 'Sally', 'Annie'],
    'company': ['AMZN', 'GOOG', 'GOOG', 'NFLX']})
print(df)

location = pd.DataFrame({
    'ticker': ['AMZN', 'GOOG'],
    'location': ['Seattle', 'SF']})
print(location)

    name company
0   Fred    AMZN
1   John    GOOG
2  Sally    GOOG
3  Annie    NFLX
  ticker location
0   AMZN  Seattle
1   GOOG       SF

1. What type of join do we need to do to get the location of each employee?

In [28]:
df.join(location)

    name company ticker location
0   Fred    AMZN   AMZN  Seattle
1   John    GOOG   GOOG       SF
2  Sally    GOOG    NaN      NaN
3  Annie    NFLX    NaN      NaN

2. How would you validate the join?

In [31]:
df.join(location, validate='1:1')

    name company ticker location
0   Fred    AMZN   AMZN  Seattle
1   John    GOOG   GOOG       SF
2  Sally    GOOG    NaN      NaN
3  Annie    NFLX    NaN      NaN