In [1]:
import pandas as pd

df = pd.DataFrame({
    'name': ['A', 'B', 'C'],
    'data': [10, 200, 3000], 
    'info': [3.1, 3.4, 11.1]})
print(df)

  name  data  info
0    A    10   3.1
1    B   200   3.4
2    C  3000  11.1

1. Color the background of the first two columns blue.

In [2]:
df.reset_index().style.set_properties(**{'background-color': 'blue'}, subset=['index', 'name'])

2. Format the numeric values by specifying precision and thousands separator.

In [3]:
df.reset_index().style.format(precision=5, thousands=' ')

3. Include a bar plot in a column.

In [4]:
df.reset_index().style.bar(subset='data', color='green', vmax=df.data.quantile(.95))

4. Set a background gradient for a column

In [6]:
df.reset_index().style.background_gradient(axis=0, cmap='Reds', subset='info')

5. Make the column headers sticky.

In [9]:
df.reset_index().style.set_sticky(axis='index')