1. Add a numeric series to itself.

In [4]:
import pandas as pd

s1 = pd.Series([1, 2, 3])
print(s1 + s1)

0    2
1    4
2    6
dtype: int64

2. Add 10 to a numeric series

In [2]:
print(s1 + 10)

0    11
1    12
2    13
dtype: int64

3. Add a numeric series to itself using the .add method.

In [3]:
print(s1.add(s1))

0    2
1    4
2    6
dtype: int64

In [5]:
ser1 = pd.Series([10, 20, 30], [1, 2, 2])
ser2 = pd.Series([35, 44, 53], [2, 2, 4])
print(ser1 + ser2)

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64