1. Create a series from a numeric column that has the value of 'high' if it is equal to or above
the mean and 'low' if it is below the mean using .apply.

In [2]:
import pandas as pd 
import numpy as np

df = pd.read_csv('datasets/population_by_age_group.csv')
total = df.Total
print(total)
mean_value = total.mean()

def low_and_high(value):
    if value >= mean_value:
        return 'high'
    else:
        return 'low'

print("mean value:", round(mean_value))
print(total.apply(low_and_high))

0      40099460
1       2854710
2      44177964
3         45056
4         79057
         ...
230       11654
231      565590
232    32981644
233    19473132
234    15993525
Name: Total, Length: 235, dtype: int64
mean value: 33656533
0      high
1       low
2      high
3       low
4       low
       ...
230     low
231     low
232     low
233     low
234     low
Name: Total, Length: 235, dtype: object

2. Create a series from a numeric column that has the value of 'high' if it is equal to or above
the mean and 'low' if it is below the mean using np.select.

In [3]:
high = total >= mean_value
low = total < mean_value
arr = np.select([high, low], ['high', 'low'])
res = pd.Series(arr)
print(res)

0      high
1       low
2      high
3       low
4       low
       ...
230     low
231     low
232     low
233     low
234     low
Length: 235, dtype: object

3. Time the differences between the previous two solutions to see which is faster.

In [4]:
import time 

start1 = time.time()
total.apply(low_and_high)
end1 = time.time()

time1 = end1 - start1

start2 = time.time()
high = total >= mean_value
low = total < mean_value
arr = np.select([high, low], ['high', 'low'])
res = pd.Series(arr)
end2 = time.time()

time2 = end2 - start2

print("apply:", time1)
print("select:", time2)

apply: 0.0009965896606445312
select: 0.0010027885437011719

4. Replace the missing values of a numeric series with the median value.

In [5]:
s1 = pd.Series([1, 2, 3, 4, np.nan, np.nan, 6, 7])
print(s1)
res = s1.fillna(s1.median())
print(res)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    NaN
6    6.0
7    7.0
dtype: float64
0    1.0
1    2.0
2    3.0
3    4.0
4    3.5
5    3.5
6    6.0
7    7.0
dtype: float64

5. Clip the values of a numeric series to between to 10th and 90th percentiles.

In [6]:
print(total.clip(lower=total.quantile(.1), upper=total.quantile(.9)))

0      40099460.0
1       2854710.0
2      44177964.0
3         48379.8
4         79057.0
          ...
230       48379.8
231      565590.0
232    32981644.0
233    19473132.0
234    15993525.0
Name: Total, Length: 235, dtype: float64

6. Using a categorical column, replace any value that is not in the top 5 most frequent values
with 'Other'.

In [17]:
print(total)
res = total.replace(total.tolist()[5:235], "Other")
print(res)

0      40099460
1       2854710
2      44177964
3         45056
4         79057
         ...
230       11654
231      565590
232    32981644
233    19473132
234    15993525
Name: Total, Length: 235, dtype: int64
0      40099460
1       2854710
2      44177964
3         45056
4         79057
         ...
230       Other
231       Other
232       Other
233       Other
234       Other
Name: Total, Length: 235, dtype: object

7. Using a categorical column, replace any value that is not in the top 10 most frequent values
with 'Other'.

In [18]:
print(total)
res = total.replace(total.tolist()[10:235], "Other")
print(res)

0      40099460
1       2854710
2      44177964
3         45056
4         79057
         ...
230       11654
231      565590
232    32981644
233    19473132
234    15993525
Name: Total, Length: 235, dtype: int64
0      40099460
1       2854710
2      44177964
3         45056
4         79057
         ...
230       Other
231       Other
232       Other
233       Other
234       Other
Name: Total, Length: 235, dtype: object

8. Make a function that takes a categorical series and a number (n) and returns a replace series
that replaces any value that is not in the top n most frequent values with 'Other'.

In [19]:
def replace_any(series, n):
    res = series.replace(series.tolist()[n:series.size], "Other")
    return res

res = (replace_any(total, 233))
print(res)

0      40099460
1       2854710
2      44177964
3         45056
4         79057
         ...
230       11654
231      565590
232    32981644
233       Other
234       Other
Name: Total, Length: 235, dtype: object

9. Using a numeric column, bin it into 10 groups that have the same width.

In [20]:
res = pd.cut(total, 10)
print(res)

0      (-1424022.631, 142591032.1]
1      (-1424022.631, 142591032.1]
2      (-1424022.631, 142591032.1]
3      (-1424022.631, 142591032.1]
4      (-1424022.631, 142591032.1]
                  ...
230    (-1424022.631, 142591032.1]
231    (-1424022.631, 142591032.1]
232    (-1424022.631, 142591032.1]
233    (-1424022.631, 142591032.1]
234    (-1424022.631, 142591032.1]
Name: Total, Length: 235, dtype: category
Categories (10, interval[float64, right]): [(-1424022.631, 142591032.1] < (142591032.1, 285180195.2] < (285180195.2, 427769358.3] < (427769358.3, 570358521.4] ... (855536847.6, 998126010.7] < (998126010.7, 1140715173.8] < (1140715173.8, 1283304336.9] < (1283304336.9, 1425893500.0]]

10. Using a numeric column, bin it into 10 groups that have equal sized bins.

In [21]:
res = pd.qcut(total, 10)
print(res)

0      (32228266.4, 59331488.0]
1        (2747286.8, 5457165.0]
2      (32228266.4, 59331488.0]
3           (1868.999, 48379.8]
4           (48379.8, 222250.6]
                 ...
230         (1868.999, 48379.8]
231        (222250.6, 807983.2]
232    (32228266.4, 59331488.0]
233    (17027815.6, 32228266.4]
234     (9725901.6, 17027815.6]
Name: Total, Length: 235, dtype: category
Categories (10, interval[float64, right]): [(1868.999, 48379.8] < (48379.8, 222250.6] < (222250.6, 807983.2] < (807983.2, 2747286.8] ... (9725901.6, 17027815.6] < (17027815.6, 32228266.4] < (32228266.4, 59331488.0] < (59331488.0, 1425893500.0]]