In [8]:
import pandas as pd

jb = pd.read_csv('datasets/2020-jetbrains-python-survey.csv', low_memory=False)

job = jb.filter(like=r'job.role').where(jb.isna(), 1).fillna(0).idxmax(axis='columns').str.replace('job.role.', '', regex=False)

1. Create dummy columns derived from a string column

In [11]:
dum = pd.get_dummies(job)
print(dum)

       Architect  Business analyst  CIO / CEO / CTO  DBA  Data analyst  \
0              0                 1                0    0             0
1              0                 0                0    0             0
2              0                 0                0    0             0
3              0                 0                0    1             0
4              0                 0                0    1             0
...          ...               ...              ...  ...           ...
54457          0                 0                0    0             0
54458          0                 0                0    1             0
54459          0                 0                1    0             0
54460          0                 0                0    0             0
54461          1                 0                0    0             0

       Developer / Programmer  Other  Product manager  QA engineer  \
0                           0      0                0            0
1                           1      0                0            0
2                           1      0                0            0
3                           0      0                0            0
4                           0      0                0            0
...                       ...    ...              ...          ...
54457                       0      0                0            0
54458                       0      0                0            0
54459                       0      0                0            0
54460                       1      0                0            0
54461                       0      0                0            0

       Systems analyst  Team lead  Technical support  Technical writer
0                    0          0                  0                 0
1                    0          0                  0                 0
2                    0          0                  0                 0
3                    0          0                  0                 0
4                    0          0                  0                 0
...                ...        ...                ...               ...
54457                1          0                  0                 0
54458                0          0                  0                 0
54459                0          0                  0                 0
54460                0          0                  0                 0
54461                0          0                  0                 0

[54462 rows x 13 columns]

2. Undo the dummy columns.

In [12]:
dum.idxmax(axis='columns')

0              Business analyst
1        Developer / Programmer
2        Developer / Programmer
3                           DBA
4                           DBA
                  ...
54457           Systems analyst
54458                       DBA
54459           CIO / CEO / CTO
54460    Developer / Programmer
54461                 Architect
Length: 54462, dtype: object